html *
{
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: none;
   font-size: px !important;
   font-family: 'Roboto Condensed', sans-serif;
}

label.font-header {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}

nav ul li a{
    text-transform: uppercase;
    color: #000
}

nav.header {
    background: rgb(250, 159, 40);
    height:50px;
    width:100%;
    text-align: center;
    line-height: 50px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgb(73, 71, 71);
    color: white;
    text-align: center;
 }

.left {
    text-align:left;
    float:left;
}

.right {
    float:right;
    text-align:right;
}
    
.centered {
    text-align:center;
}


#leftbox { 
    float:left;  
    background:rgb(216, 116, 116); 
    width:15%; 
    height:100%; 
} 
#middlebox{ 
    float:left;  
    background:rgb(111, 183, 250); 
    width:70%;
    height:100%;
} 
#rightbox{ 
    float:right; 
    background:rgb(216, 116, 116); 
    width:15%; 
    height:100%; 
} 